html, body{
    background-color: #21232A;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.3em;
    padding: 70px;
}

button{
    padding: 15px;
    margin-right: 5px;
}